@media all and (min-width:360) and (max-width:420) {
    body {
         background-color : red; 
         }
  }

body{
	margin: 0;
	padding: 0;
	background: url(todo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family:sans-serif;
	background-color: purple;
}

.loginbox{
	height: 460px;
	color:#fff;
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	width: 400px;
	padding:70px 30px;
	border: 2px solid gray;
	border-radius: 20px;
	font-family: raleway;
	float:left;
	margin-top:50px;
	background-color: white;
}
h1{
	color: purple;
	padding: 30px 35px;
	margin: -10px -50px;
	text-align:center;
	border-radius: 10px 10px 0 0;
}
hr{
	margin: 10px -50px;
	border: 0;
	border-top: 1px solid #ccc;
	margin-bottom: 40px;
}
.loginbox{
	width: 300px;
	padding: 10px 50px 25px;
	border: 2px solid gray;
	border-radius: 10px;
	font-family: raleway;
	float:left;
	margin-top:50px;
}
.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox input{
	width:100%;
	margin-bottom: 20px;
}

.loginbox input[type=text],input[type=password],input[type=email]{
	width: 100%;
	height: 40px;
	padding: 5px;
	margin-bottom: 25px;
	margin-top: 5px;
	border: 2px solid #ccc;
	color: #4f4f4f;
	font-size: 16px;
	border-radius: 5px;
}
.loginbox label{
	color: #464646;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	font-weight: bold;
}
.loginbox a{
	text-decoration: none;
}
center{
font-size:32px;
}
.note{
color:red;
}
.loginbox input[type=button]{
	font-size: 16px;
	background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
	border: 1px solid #e5a900;
	color: #4E4D4B;
	font-weight: bold;
	cursor: pointer;
	width: 100%;
	border-radius: 5px;
	padding: 10px 0;
	outline:none;
	}
.loginbox input[type=button]:hover{
background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}
