body{
  font-family:"Arial", Serif;
  background-color:#f4f4f4;
  overflow-x:hidden;
  padding: 0px 0px 0px;
}

.navbar{
  background-color:purple;
  overflow:hidden;
  height:63px;
}

.navbar a{
  float:left;
  display:block;
  color:#f2f2f2;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;
}
.navbar li a.selected_item{
    border-bottom:none;
}
.navbar li a.selected_item a,
.navbar li a.selected_item a:hover{
  color:#fff;
  font-weight:bold;
  background: steelblue;

}

.navbar ul{
  margin:8px 0 0 0;
  list-style:none;
}

.navbar a:hover{
  background-color:#ddd;
  color:#000;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.cart input[type=button]{
  font-size: 16px;
  background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
  border: 1px solid #e5a900;
  color: #4E4D4B;
  font-weight: bold;
  cursor: pointer;
  width: 90%;
  border-radius: 5px;
  padding: 10px 0;
  outline:none;
  }
.cart input[type=button]:hover{
background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}
.cart input{
  width:50%;
  margin-bottom: 20px;
}

.cart input[type=text],input[type=number]{
  width: 90%;
  height: 30px;
  padding: 5px;
  margin-bottom: 25px;
  margin-top: 5px;
  border: 2px solid #ccc;
  color: #4f4f4f;
  font-size: 16px;
  border-radius: 5px;
}
.cart input[type=date]{
  width: 70%;
  border-radius: 5px;
  color: purple;
  height: 20px;
}
.categories{
  padding-top: 0px;
}

.categories select{
  background-color:#fff;
  border-style: none;
  border-radius: 20px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  width: 110%;
}
.records{
  margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    float: left;
    vertical-align: 10px;
   }
.records caption{
    font-weight: bold;
    font-size: 30px;
  }
/*division which includes all available products/goods*/
.prod input[type=button] {
  background-color: purple;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
  padding: 10px 0;
  outline:none;

}
.prod select{
  background-color:#fff;
  border-color:purple;
  border-radius: 20px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  width: 100px;

}
table
 {
    border-collapse: collapse;
    width: 100%;
    border-radius: 20px;
}


th, td {
    text-align: left;
    padding: 8px;
  
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    
    color: purple;
    width: 15%;
}
@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  /*.open-slide{display:none}*/
}